{% block styles %}
<style>
  body {
    background-color: #f0f0f0;
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card {
    flex-grow: 1;
  }

  .message-box {
    padding: 10px;
    max-height: 70vh;
    overflow-y: auto;
  }

  .message {
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
  }

  .message.sent {
    background-color: #007BFF;
    color: #fff;
    align-self: flex-end;
  }

  .message.received {
    background-color: #f1f0f0;
    align-self: flex-start;
  }

  .message-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
  }

  .message-input {
    flex: 1;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }

  .btn-send {
    border-radius: 5px;
  }
</style>
{% endblock %}
